## Dictionary in details
- dict and set are associated data structure
- in dict , there will be keys and value, seperated by comma and enclosed with curly braces and key and value will be seprated by colon

In [1]:
#to created a empty dict
d1 = {}

In [3]:
type(d1) #type of the data

dict

In [4]:
#syntax of the dictionary
#dict_name = {key:value, key1: value1....}

In [7]:
d2 = {"sun": 75, "mon": 80, "tue": 45}

In [6]:
d2

{'sun': 75, 'mon': 80, 'tues': 45}

In [8]:
type(d2)

dict

In [1]:
# we also can created a dictionary by dict constructor
d3 = dict()

In [10]:
type(d3)

dict

In [2]:
d3['sium']= 'rhs0@yahoo.com'
d3['sio']= 'sium1@hotmail.com'

In [3]:
d3

{'sium': 'rhs0@yahoo.com', 'sio': 'sium1@hotmail.com'}

In [4]:
#to see the keys of the dictionary by using keys() method
d3.keys()

dict_keys(['sium', 'sio'])

In [5]:
#to see the values of the dictionary by using values() method
d3.values()

dict_values(['rhs0@yahoo.com', 'sium1@hotmail.com'])

In [7]:
d3.items() #to see the dict items

dict_items([('sium', 'rhs0@yahoo.com'), ('sio', 'sium1@hotmail.com')])

In [15]:
help(dict) #to check the dict details in python

Help on class dict in module builtins:

class dict(object)
 |  dict() -> new empty dictionary
 |  dict(mapping) -> new dictionary initialized from a mapping object's
 |      (key, value) pairs
 |  dict(iterable) -> new dictionary initialized as if via:
 |      d = {}
 |      for k, v in iterable:
 |          d[k] = v
 |  dict(**kwargs) -> new dictionary initialized with the name=value pairs
 |      in the keyword argument list.  For example:  dict(one=1, two=2)
 |
 |  Built-in subclasses:
 |      StgDict
 |
 |  Methods defined here:
 |
 |  __contains__(self, key, /)
 |      True if the dictionary has the specified key, else False.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(...)
 |      x.__getitem__(y) <==> x[y]
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __ior__(self, value, /)
 |      Return self|=value.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __or__(self, value, /)
 |      Return self|value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(self, /)
 |      Return a reverse iterator over the dict keys.
 |
 |  __ror__(self, value, /)
 |      Return value|self.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(...)
 |      D.__sizeof__() -> size of D in memory, in bytes
 |
 |  clear(...)
 |      D.clear() -> None.  Remove all items from D.
 |
 |  copy(...)
 |      D.copy() -> a shallow copy of D
 |
 |  get(self, key, default=None, /)
 |      Return the value for key if key is in the dictionary, else default.
 |
 |  items(...)
 |      D.items() -> a set-like object providing a view on D's items
 |
 |  keys(...)
 |      D.keys() -> a set-like object providing a view on D's keys
 |
 |  pop(...)
 |      D.pop(k[,d]) -> v, remove specified key and return the corresponding value.
 |
 |      If key is not found, default is returned if given, otherwise KeyError is raised
 |
 |  popitem(self, /)
 |      Remove and return a (key, value) pair as a 2-tuple.
 |
 |      Pairs are returned in LIFO (last-in, first-out) order.
 |      Raises KeyError if the dict is empty.
 |
 |  setdefault(self, key, default=None, /)
 |      Insert key with a value of default if key is not in the dictionary.
 |
 |      Return the value for key if key is in the dictionary, else default.
 |
 |  update(...)
 |      D.update([E, ]**F) -> None.  Update D from dict/iterable E and F.
 |      If E is present and has a .keys() method, then does:  for k in E: D[k] = E[k]
 |      If E is present and lacks a .keys() method, then does:  for k, v in E: D[k] = v
 |      In either case, this is followed by: for k in F:  D[k] = F[k]
 |
 |  values(...)
 |      D.values() -> an object providing a view on D's values
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __class_getitem__(...) from builtins.type
 |      See PEP 585
 |
 |  fromkeys(iterable, value=None, /) from builtins.type
 |      Create a new dictionary with keys from iterable and values set to value.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

In [17]:
#to access the value of dict by using keys
d3['sium']

'rhs0@yahoo.com'

In [19]:
#dict are unordered so we can not access the dict by index

In [20]:
#dict operation
#we can also a copy a dictionary
d3

{'sium': 'rhs0@yahoo.com', 'sio': 'sium1@hotmail.com'}

In [21]:
d4 = dict(d3) # to copy a dict by dict constructor

In [22]:
d4

{'sium': 'rhs0@yahoo.com', 'sio': 'sium1@hotmail.com'}

In [23]:
#we can find out the length of the dict by len() function
len(d4)

2

In [24]:
#we can delete key value pairs from a dict by using del keywords
del d4['sium']

In [25]:
d4

{'sio': 'sium1@hotmail.com'}

In [26]:
#delete the whole dict by using del keyword
del d4

In [27]:
d4 #so it will give error

NameError: name 'd4' is not defined

In [28]:
#dict support membership operator
d3

{'sium': 'rhs0@yahoo.com', 'sio': 'sium1@hotmail.com'}

In [29]:
'sium' in d3 #it will give us true or false

True

In [30]:
"harami" in d3

False

## difference between list vs dict

In [31]:
#list is a linear ds 
#dict is a associated ds

In [32]:
l1 = [3,4,5,7,72,4,6,245]

In [33]:
#we can access the list by indexing 
l1[0]

3

In [34]:
#but in dict we need to mention the key to access the value because dict are un ordered
d3 #is a dict

{'sium': 'rhs0@yahoo.com', 'sio': 'sium1@hotmail.com'}

In [35]:
d3['sium'] #we need to mention the key to access the value

'rhs0@yahoo.com'

In [36]:
#temparature mapping using list

In [39]:
temp= [65, 70, 46,48,35,76,43]
day = input("please enter sat, sun, mon, tue, wed, thu, fri:")
if day == 'sat':
    day_time = 'saturday'
    t = temp[0]
elif day == 'sun':
    day_time = 'sunday'
    t = temp[1]
elif day == 'mon':
    day_time = 'monday'
    t= temp[2]
elif day == 'tue':
    day_time = 'tuesday'
    t= temp[3]
elif day == 'wed':
    day_time = 'wednesday'
    t= temp[4]
elif day == 'thu':
    day_time = 'thursday'
    t = temp[5]
elif day == 'fri':
    day_time = 'friday'
    t = temp[6]
else: 
    print("wrong input")

print(f"the temparature of {day_time} is {t}")

please enter sat, sun, mon, tue, wed, thu, fri: fri

the temparature of friday is 43

In [41]:
#temparature mapping using dict
d_temp={'sat': 65, 'sun': 70, 'mon':46, 'tue': 48, 'wed':35, 'thu':76, 'fri':43}
day_time= {'sat': 'saturday', 'sun':'sunday', 'mon':'monday', 'tue': 'tuesday', 'wed':'wednesday', 'thu': 'thursday', 'fri': 'friday'}
day = input("please enter sat, sun, mon, tue, wed, thu, fri:")
print(f"the temparature of {day_time[day]} is {d_temp[day]}")

please enter sat, sun, mon, tue, wed, thu, fri: fri

the temparature friday is 43

# different ways of creating dict

In [42]:
#1. Using curly braces 
d5 = {1: "sium", 2: 'sio'}

In [43]:
d5

{1: 'sium', 2: 'sio'}

In [47]:
type(d5)

dict

In [45]:
#2. crating a empty dict and insert value one by one
d6 ={}
d6[1]= 'sium'
d6[2]= 'sio'

In [46]:
d6

{1: 'sium', 2: 'sio'}

In [48]:
type(d6)

dict

In [49]:
#3. dict constructor and a list of tupels
d7 = dict([(1, 'sium'), (2, 'sio'), (3, 'hasan')])

In [50]:
d7

{1: 'sium', 2: 'sio', 3: 'hasan'}

In [51]:
type(d7)

dict

In [52]:
#4. from two paraller list
#here length of the 2 list must be same
a = [1,2,3,4,5]
b = ['sium', 'sio', 'hasan', 'rhs', 'rakibul']
d8 = {}
for i in range(len(a)):
    d8[a[i]]=b[i]

In [53]:
d8

{1: 'sium', 2: 'sio', 3: 'hasan', 4: 'rhs', 5: 'rakibul'}

In [54]:
type(d8)

dict

## accessing the dict and insert

In [55]:
#dictionaries access and insert
d9 = {1: 'sium', 2: 'sio', 3: 'hasan', 4: 'rhs', 5: 'rakibul'}

In [56]:
#to access keys of the dict we can use keys()
d9.keys()

dict_keys([1, 2, 3, 4, 5])

In [57]:
#to access the values of the dict we can use values() method
d9.values()

dict_values(['sium', 'sio', 'hasan', 'rhs', 'rakibul'])

In [58]:
#access the single element
d9[3]

'hasan'

In [59]:
d9[6]= 'rhs2' #insert a new element in dict, we can also modified the value by accesing keys to set a value

In [60]:
d9

{1: 'sium', 2: 'sio', 3: 'hasan', 4: 'rhs', 5: 'rakibul', 6: 'rhs2'}

In [61]:
#to access the value another method is get()
d9.get(5)

'rakibul'

In [63]:
#to update the value of a dict
d9[5] = 'nuist'

In [64]:
d9

{1: 'sium', 2: 'sio', 3: 'hasan', 4: 'rhs', 5: 'nuist', 6: 'rhs2'}

In [65]:
#check length of the dict by using len() function
len(d9)

6

In [66]:
#dict method fromkeys()
#using this method we can create a dictionaries with keys in iterable
#we can create dictionaires from list, tuple, range function or any other iterable(anything that can be loop over)

In [67]:
#syntax of the fromkeys()= {iterable(it will be keys), value(optional)}
l1 = [1,2,3,4,5]
d10= dict.fromkeys(l1) #i did not mentaion any value so values will be none

In [68]:
d10

{1: None, 2: None, 3: None, 4: None, 5: None}

In [69]:
#now using range() function
d11= {}.fromkeys(range(1,6 ), 7) # in range (1,6) function means including 1 and excluding 6 so 1 to 5

In [70]:
d11

{1: 7, 2: 7, 3: 7, 4: 7, 5: 7}

# dict setdefault() method
- setdefault means it will search for the keys, if the keys is present then it will return the value, if key is not present in the dict then it will add the key in the dict

In [72]:
#syntax of the setdefault()= (key, value-optional)
d12 = {'sium': 28, 'soad': 20, 'sumaiya': 27}

In [73]:
d12.setdefault('sium') #here it will return the value

28

In [74]:
d12.setdefault('sio') #now it will add in the dict with none

In [75]:
d12

{'sium': 28, 'soad': 20, 'sumaiya': 27, 'sio': None}

In [76]:
d12.setdefault('rhs', 28)

28

In [77]:
d12

{'sium': 28, 'soad': 20, 'sumaiya': 27, 'sio': None, 'rhs': 28}

In [78]:
d12['sio']= 29

In [79]:
d12

{'sium': 28, 'soad': 20, 'sumaiya': 27, 'sio': 29, 'rhs': 28}

# dict() update method

In [85]:
d11

{1: 7, 2: 7, 3: 7, 4: 7, 5: 7}

In [86]:
d12

{'sium': 28, 'soad': 20, 'sumaiya': 27, 'sio': 29, 'rhs': 28}

In [87]:
#with the update method we can concat the 2 dictionaries easily
d11.update(d12)

In [88]:
d11

{1: 7,
 2: 7,
 3: 7,
 4: 7,
 5: 7,
 'sium': 28,
 'soad': 20,
 'sumaiya': 27,
 'sio': 29,
 'rhs': 28}

In [91]:
# we can also concat dict and list 
d11
l2 = [6,100] #it must contain 2 elements

In [92]:
d11.update([l2])

In [93]:
d11

{1: 7,
 2: 7,
 3: 7,
 4: 7,
 5: 7,
 'sium': 28,
 'soad': 20,
 'sumaiya': 27,
 'sio': 29,
 'rhs': 28,
 6: 100}

In [94]:
#we can also update the dict by using expression
d11.update(y=3 , z =11, x=2)

In [95]:
d11

{1: 7,
 2: 7,
 3: 7,
 4: 7,
 5: 7,
 'sium': 28,
 'soad': 20,
 'sumaiya': 27,
 'sio': 29,
 'rhs': 28,
 6: 100,
 'y': 3,
 'z': 11,
 'x': 2}

# dict delete elements, pop or clear

In [96]:
#1. delete element using del keywords
d11

{1: 7,
 2: 7,
 3: 7,
 4: 7,
 5: 7,
 'sium': 28,
 'soad': 20,
 'sumaiya': 27,
 'sio': 29,
 'rhs': 28,
 6: 100,
 'y': 3,
 'z': 11,
 'x': 2}

In [97]:
del d11[3]

In [98]:
d11

{1: 7,
 2: 7,
 4: 7,
 5: 7,
 'sium': 28,
 'soad': 20,
 'sumaiya': 27,
 'sio': 29,
 'rhs': 28,
 6: 100,
 'y': 3,
 'z': 11,
 'x': 2}

In [99]:
#2. using pop method to delete element
d11.pop('x') #here it will delete the value and return it

2

In [100]:
d11

{1: 7,
 2: 7,
 4: 7,
 5: 7,
 'sium': 28,
 'soad': 20,
 'sumaiya': 27,
 'sio': 29,
 'rhs': 28,
 6: 100,
 'y': 3,
 'z': 11}

In [102]:
#3. using clear() method to clear the dict
d12

{'sium': 28, 'soad': 20, 'sumaiya': 27, 'sio': 29, 'rhs': 28}

In [103]:
d12.clear()

In [104]:
d12 #now as we can see the dict is empty

{}

In [105]:
# to delete the complete dictionary we can use del keywords
del d12

# SET OPERATION DETAILS

In [106]:
#set is a mutable data type with unique data and it is un ordered so we can not access it with index
#it does not contain duplicated values
#to create a empty set we can not create it with a empty curly braces because it will be a dict type
s1 = {}

In [107]:
s1

{}

In [108]:
type(s1)

dict

In [109]:
#so to create a empty set we need to use set() constructor
s2= set()

In [110]:
type(s2)

set

In [111]:
#we can create set with curly braces if we put values seperated by comma
s3= {1,2,3,4,5}

In [112]:
type(s3)

set

In [113]:
s3

{1, 2, 3, 4, 5}

In [114]:
#we can not created set inside a set(i mean nested set)

In [115]:
#we can add values in set by using add() method
s3.add(7)

In [116]:
s3

{1, 2, 3, 4, 5, 7}

In [117]:
#if we try to insert a duplicate value in the set will ignore it
s3.add(2)

In [118]:
s3

{1, 2, 3, 4, 5, 7}

In [119]:
# we can create immutable set by using frozenset() keywords
s4 = frozenset([1,2,3,4,5,6])

In [120]:
s4

frozenset({1, 2, 3, 4, 5, 6})

In [121]:
type(s4)

frozenset

In [123]:
#we can copy a set by set() constructor
s5 = set(s3)

In [124]:
s5

{1, 2, 3, 4, 5, 7}

# set operation
- here we will talk about 10 operation of set
1. membership
2. add() operation
3. remove()
4. union(|)
5. clear()
6. intersection(&)
7. difference (-)
8. symetric difference
9. size(len() funtion)
10. copy()- to copy a set
11. del keywords

In [127]:
#1. MEMBERSHIP 
#it will check if any elements present in set or not
s3

{1, 2, 3, 4, 5, 7}

In [126]:
2 in s3 #give us true or false

True

In [128]:
#2. add() operation
#it will add a new element in the set except in frozenset()
s3.add(199)

In [129]:
s3

{1, 2, 3, 4, 5, 7, 199}

In [130]:
#3. remove operation
#it will delete a element from a set
s3.remove(7)

In [131]:
s3

{1, 2, 3, 4, 5, 199}

In [134]:
#4. UNION operation
#it will check, if any value present in the set1 or set2 then only in once and it will return all the others values from each set
s3

{1, 2, 3, 4, 5, 199}

In [135]:
s4 ={ "sium", 3, 'sio'}

In [137]:
s5= s3|s4

In [138]:
s5 #here we can see the union result, in s4 and s3 we have 3 in common, so 3 appears once and rest of the values from each set

{1, 199, 2, 3, 4, 5, 'sio', 'sium'}

In [139]:
#5. Clear () function
#it will clear the set values and make it empty
s5.clear()

In [140]:
s5

set()

In [141]:
#11. DELETE THE COMPLETE SET by using del keywords
del s5

In [142]:
s5

NameError: name 's5' is not defined

In [143]:
#6. Intersection operation
#common values present in 2 set
s3

{1, 2, 3, 4, 5, 199}

In [144]:
s4

{3, 'sio', 'sium'}

In [145]:
s3&s4 #for intersection symbol is & and here we see 3 is common in s3 and s4

{3}

In [146]:
#7. Difference 
#If i see the difference from 2 set then it will give me from the first set elements that are not present in the second set
s6= {1,2,3,4}
s7= {1,5,7,3}

In [147]:
s8= s6-s7 #for different symbol is -minus

In [148]:
s8

{2, 4}

In [149]:
#here again if we go from s7 to s6
s7-s6 #it will give element from the s7

{5, 7}

In [150]:
#8. SYMETRIC DIFFERENCE
#it will give the values which are not common in set1 and set2 
#symbol is ^
s6

{1, 2, 3, 4}

In [151]:
s7

{1, 3, 5, 7}

In [153]:
s9= s6^s7

In [154]:
s9 #so here we see, 2,4,5,7 is not common in s6 and s7

{2, 4, 5, 7}

In [155]:
# 9. Len() funtion to see the length of the set 
s4

{3, 'sio', 'sium'}

In [156]:
len(s4)

3

In [158]:
len(s6)

4

In [159]:
# 10. Copy() function
s7

{1, 3, 5, 7}

In [164]:
s10= s7.copy() #it will copy the s7

In [165]:
s10

{1, 3, 5, 7}

In [ ]:
#if you have anything more, you can add into this file. Thanks