## DICTIONARY
- dictionary is defined using key value in pairs, seperated by comma and enclosed with curly braces. The key and value are seperated by colon.

In [2]:
#syntax for dictionary 
#dictionary_name = {key:value, key2:value2.....}
#key needs to be unique and we must have only one keys, and key must be immutable, values can be mutable or immutable. we can not have list as the keys

In [4]:
#how to create the dictionary
d1 = {} #created a empty dictionary

In [5]:
type(d1) #check the type of the ds

dict

In [6]:
d2 = {"sium": "rhs0@yahoo.com", "sio": "sium1@hotmail.com" }

In [7]:
d2

{'sium': 'rhs0@yahoo.com', 'sio': 'sium1@hotmail.com'}

In [10]:
#create the dictionary use dict() constructor
d3 = dict() #empty dictionary

In [11]:
type(d3)

dict

In [8]:
d2["sium"]

'rhs0@yahoo.com'

In [12]:
#if we have a duplicate keys lets see what will happens
d4 = {1: "sium", 2:'sio', 1: "anable"}

In [13]:
d4 #it will take the last value i put with the same keys so key must be unique

{1: 'anable', 2: 'sio'}

In [14]:
#we can not use mutable like list as keys
#dict are unordered
#we can not access the the element from dict by using index so we need to access the dict by keys

In [15]:
d4[1] #to access the dict value with keys

'anable'

In [16]:
#we can delete the value by mentioning keys and del keyword
del d4[1]

In [17]:
d4 #look it deleted

{2: 'sio'}

In [18]:
#dict are mutable so we can add or delete the elements from dict
#to add a element we can mention the dict name with a new keys and pass the value in it
d4[3]= "sium" # to add the element

In [19]:
d4

{2: 'sio', 3: 'sium'}

In [21]:
#dictionary is nested so we make a dictionary inside a dictionary, but we can not use dict as the key in the nested dictionary because dict are mutable
d5 = {1: {1:2}, 2: {2,3}} #thats how we can use nested dict

In [22]:
d5

{1: {1: 2}, 2: {2, 3}}

## SET DS
- set is a collection of a unique elements, in set no item can be repeated. we can not have duplicate values, set also defines in a curly braces.

In [23]:
#to created a set
s1 = {1,2,3,45,6,6,7}

In [24]:
s1 #set always will be unique so it will ignore the duplicate values

{1, 2, 3, 6, 7, 45}

In [25]:
type(s1)

set

In [26]:
#to create a empty set we can not use { } braces because it will make dict
s2 ={}

In [27]:
type(s2)

dict

In [28]:
# so we need to use set constructor to build a empty set
s3 = set() #empty set

In [29]:
s3

set()

In [30]:
type(s3)

set

In [1]:
#we can create the set from string
s4 = set("rakibul")

In [3]:
s4

{'a', 'b', 'i', 'k', 'l', 'r', 'u'}

In [33]:
#sets are mutable so we can add or delete item from sets to add we can do it by add() method
s4.add("sio") #to add a item in set

In [34]:
s4

{'a', 'b', 'i', 'k', 'l', 'r', 'sio', 'u'}

In [36]:
#set is also unordered

In [37]:
#to delete the element from set by remove() method
s4.remove("sio")

In [38]:
s4

{'a', 'b', 'i', 'k', 'l', 'r', 'u'}

In [39]:
#set can not be nested

In [ ]:
#set can have different types of element but it must be immutable object
#we can use set for union, intersection and diffrence between two set

In [40]:
#to access the element from set we can use the loop or membership operation
s4

{'a', 'b', 'i', 'k', 'l', 'r', 'u'}

In [41]:
for i in s4: #loop
    print(i)

k
r
l
u
i
a
b

In [44]:
"i" in s4 #it will give true or false result

True