# Data Structure is a way to store and organize the data so that it can be accessed effectively and it can be used and manupulated in future easily. 

- organizing a data is really important to work in future.
- coosing the appropriate data is the most important task while we do programming.

In python, we can categorise the data in two ways
1. Built-in
- LIST
- TUPLE
- SET
- DICTIONARY
3. User-defined
- STACK
- QUEUE
- LINKED LIST
- TREE
- GRAPH
- HASH TABLE

# LIST
- list is the collection of 0 or many elements seperated by comma and closed in the square bracket
- list can contain 0 or more than 0 elements.

In [1]:
#to create a list 
list1 = [1,2,3,5,6,7.5, 9,10]
print(list1)

[1, 2, 3, 5, 6, 7.5, 9, 10]

In [2]:
#another way to create a list is by using list() contractor
list2 = list()
print(list2)

[]

In [3]:
#list is used in store to various sequence types of data it means we can store various data type in list 
list3 = [1,2.5, "sium",10 ]
print(list3)

[1, 2.5, 'sium', 10]

In [4]:
#list are ordered, the element we add it remains at the index 0
#second element we add it remains at index 1 and so on
#if we delete a element from list, index position can be changed but ordered are remain same


#list element can be accessed by using indexing
print(list3[0]) #staring index
print(list3[-1]) #last index


#we can also using negative indexing also 
list3[-2], list3[-3], list3[-4]

1
10

('sium', 2.5, 1)

In [5]:
#list can be nested, so we can have list inside a list
list4 =[["sium", 3.5], 300, 58]
print(list4)
print(list4[0])
print(list4[0][0])

[['sium', 3.5], 300, 58]
['sium', 3.5]
sium

In [6]:
#list are mutable, after creating a list we can modify our list
#insert any element
list4.append(7)
print(list4)
#for insert(index, value)
list4[0].insert(2, 499)

[['sium', 3.5], 300, 58, 7]

In [8]:
#deleting method from list
#remove(value)
list4.remove(300)
list4

[['sium', 3.5, 499], 58, 7]

In [9]:
list4

[['sium', 3.5, 499], 58, 7]

In [10]:
#by using del method del list4[index]
del list4[0][0]

In [11]:
list4

[[3.5, 499], 58, 7]

In [12]:
#by using pop() method-it will delete the last element from the list and return the value
list4.pop()

7

In [13]:
list4

[[3.5, 499], 58]

In [14]:
type(list4)

list

In [ ]:
#list are dynamic-because list is mutable

## TUPLE
- tuples are also stores the collection of data, it is similar to the list but it has few difference, it's elements are seperated by the comma and enclosed with parenthesis()
- if you do not use () but the value sperated with comma that also means tuple

In [15]:
t1 = (1,2,4,6,7,7)
print(type(t1))

<class 'tuple'>

In [16]:
t2= 2,4,5,6,7,8
print(type(t2))

<class 'tuple'>

In [17]:
#we can also use tuple constractor to create a empty tuple
t3 = tuple()
print(type(t3))

<class 'tuple'>

In [18]:
print(t1)

(1, 2, 4, 6, 7, 7)

In [19]:
#for a single value if we use () then it is considered as single integer value\
t5 =(19)
print(type(t5))

<class 'int'>

In [20]:
#to create a tuple with a single value we need to add (10,) a comma after a value]
t6 =(8,)
print(type(t6))

<class 'tuple'>

In [ ]:
#tuples are immutable- we can insert or delete the element from tuple
#tuple store 0 or more number of elements
#store differents types of data

In [21]:
#to access the tuple we need to use indexing method
t1[0]

1

In [22]:
t1[-1]

7

In [23]:
#we can also use negative indexing
t1[-2]

7

In [24]:
#tuples also can be nested so we can use tuple inside a tuple
t7 =(('sium', 9, 40), 20,40,57)

In [25]:
t7[0]

('sium', 9, 40)

In [26]:
t7[0][0]

'sium'

In [ ]:
#why we need tuple
#tuple is faster than list
#sometimes we do not want to modified our data then we use tuple
#to prevent accidental modification