## LIST- relatble with shopping list(group of different types of element)
- list are mutable- we can change, replace, remove 
- linear data structure- linear order like first one, then second one then third one
- mixed types element- mixed type of element, it contains integer, float, string and complex numbers
- variable length - 
- zero based indexing- first index will be 0

In [1]:
l1 = [] #to create a empty list
l2 = [3,5,62,0,38, "sium", 5.7]
print(l1)
print(l2)

[]
[3, 5, 62, 0, 38, 'sium', 5.7]

In [2]:
l3 = list() #to create a list with list constructor
print(l3)
print(type(l3)) #type of it is a list or not

[]
<class 'list'>

In [3]:
#list contain mixed types of data
l4 =[]
l4 = [10,20.4,5,'sium', 57]
print(l4)

[10, 20.4, 5, 'sium', 57]

In [4]:
#to see indivisual element from list we can use indexing
print(l4[0])
print(l4[1])
print(l4[2])
print(l4[3])

10
20.4
5
sium

In [5]:
#we can also make nested list that means list within the list
l5 = [[40, 38, "sium"], 40.6, 90]
print(l5)

[[40, 38, 'sium'], 40.6, 90]

In [6]:
l5[0] #to access the first index means accesing the first nested list

[40, 38, 'sium']

In [7]:
l5[0][0] #to accessing the nestes list first index

40

In [8]:
help(list) #to check list documentation

Help on class list in module builtins:

class list(object)
 |  list(iterable=(), /)
 |
 |  Built-in mutable sequence.
 |
 |  If no argument is given, the constructor creates a new empty list.
 |  The argument must be an iterable if specified.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(...)
 |      x.__getitem__(y) <==> x[y]
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iadd__(self, value, /)
 |      Implement self+=value.
 |
 |  __imul__(self, value, /)
 |      Implement self*=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(self, /)
 |      Return a reverse iterator over the list.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(self, /)
 |      Return the size of the list in memory, in bytes.
 |
 |  append(self, object, /)
 |      Append object to the end of the list.
 |
 |  clear(self, /)
 |      Remove all items from list.
 |
 |  copy(self, /)
 |      Return a shallow copy of the list.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  extend(self, iterable, /)
 |      Extend list by appending elements from the iterable.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  insert(self, index, object, /)
 |      Insert object before index.
 |
 |  pop(self, index=-1, /)
 |      Remove and return item at index (default last).
 |
 |      Raises IndexError if list is empty or index is out of range.
 |
 |  remove(self, value, /)
 |      Remove first occurrence of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  reverse(self, /)
 |      Reverse *IN PLACE*.
 |
 |  sort(self, /, *, key=None, reverse=False)
 |      Sort the list in ascending order and return None.
 |
 |      The sort is in-place (i.e. the list itself is modified) and stable (i.e. the
 |      order of two equal elements is maintained).
 |
 |      If a key function is given, apply it once to each list item and sort them,
 |      ascending or descending, according to their function values.
 |
 |      The reverse flag can be set to sort in descending order.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __class_getitem__(...) from builtins.type
 |      See PEP 585
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

In [9]:
for i in l5: #iterate element through for loop
    print(i)

[40, 38, 'sium']
40.6
90

In [10]:
for j in l5[0]: #to iterate nested list
    print(j)

40
38
sium

In [11]:
#LIST OPERATION
#1. replace
print(l5)

[[40, 38, 'sium'], 40.6, 90]

In [12]:
#replace 40 from the list and add a floting number 69.9
#by using index we can change it
l5[0][0]=69.6
print(l5) #here is the new list

[[69.6, 38, 'sium'], 40.6, 90]

In [13]:
#2.INSERT OPERATION
#we can insert a value in the list by using insert(index, value) 
#insert 79.9 in the list
#by the insert() method we can insert a element by indexing then the indexing will be changed for others
l5[0].insert(0, 79.9)
print(l5)

[[79.9, 69.6, 38, 'sium'], 40.6, 90]

In [14]:
#we can also use append in the list by append() method

In [15]:
#3. SORT OPERATION
# we can only do sort operation when a list contains only integer or string value, in the mixed data type we can not use sort() method
l6 = [2,4,73,5,7,25,89,32]
l6.sort()
print(l6)

[2, 4, 5, 7, 25, 32, 73, 89]

In [16]:
l7=["sium", "rakibul", "hasan"]
l7.sort()
l7

['hasan', 'rakibul', 'sium']

In [17]:
l5 #we can not do sort operation in this types of list

[[79.9, 69.6, 38, 'sium'], 40.6, 90]

In [18]:
#4. DELETE OPERATION
#if we want to delete something from the list we can use del method
# lets say, delete 79.9 from the list
del l5[0][0] #we need mention the index with del key

In [19]:
print(l5)

[[69.6, 38, 'sium'], 40.6, 90]

In [20]:
l5.remove(40.6) #we can also delete by remove(value) method

In [21]:
print(l5)

[[69.6, 38, 'sium'], 90]

In [22]:
#using pop(index) method- if we use pop then it delete from the last item
l5.pop() #will delete last value from the list
#we can also use indexing method with the pop() method

90

In [23]:
#we can also delete the whole list by using del method
#del list_name

In [24]:
#5.APPEND operation
#we can add inseert value by append(value) method, it will insert value at the end of the list
print(l5)
l5.append(30)

[[69.6, 38, 'sium']]

In [25]:
l5

[[69.6, 38, 'sium'], 30]

In [26]:
#6. REVERSE
#we can use the reverse method to reverse the whole list
print(l6)

[2, 4, 5, 7, 25, 32, 73, 89]

In [27]:
l6.reverse()

In [28]:
print(l6)

[89, 73, 32, 25, 7, 5, 4, 2]

In [29]:
# complete summery of the list
l8 = ['sium', 'apple', "hasan"]
#replace "hasan" with "laptop"
l8[2]= "laptop" #replace
print(l8)

['sium', 'apple', 'laptop']

In [30]:
print(l8)
#insert a element "mobile" by using insert method after the apple
l8.insert(2, "mobile")

['sium', 'apple', 'laptop']

In [31]:
print(l8)

['sium', 'apple', 'mobile', 'laptop']

In [32]:
#sort method
print(l8)
l8.sort()
print(l8)

['sium', 'apple', 'mobile', 'laptop']
['apple', 'laptop', 'mobile', 'sium']

In [33]:
#delete method
#delete 'mobile from the list'
del l8[2]

In [34]:
print(l8)

['apple', 'laptop', 'sium']

In [35]:
#delete by value by using remove(value)
#delete "laptop"
l8.remove("laptop")

In [36]:
print(l8)

['apple', 'sium']

In [37]:
#delete using pop(index) method
#usually pop will remove the last element but what we can do is we can use indexing to delete any value with the pop() method
print(l8)

['apple', 'sium']

In [38]:
l8.pop(0)

'apple'

In [39]:
print(l8)

['sium']

In [40]:
print(l7)

['hasan', 'rakibul', 'sium']

In [41]:
l7.pop() #will remove the last element and return a value

'sium'

In [42]:
print(l7)

['hasan', 'rakibul']

In [43]:
#append() method, it works like it will add a element in the last
print(l7)

['hasan', 'rakibul']

In [44]:
l7.append("rhs2")

In [45]:
print(l7)

['hasan', 'rakibul', 'rhs2']

In [46]:
#reverse method
#by reverse() method we can reverse the whole list but remember list will have to be either full of integer or string value or same types of value
l7.reverse()

In [47]:
print(l7)

['rhs2', 'rakibul', 'hasan']

## LIST ASSIGNMENT AND COPYING A LIST

In [48]:
l2

[3, 5, 62, 0, 38, 'sium', 5.7]

In [49]:
l11 = l2 #here we can assign a operator a copying a list

In [50]:
print(l11)

[3, 5, 62, 0, 38, 'sium', 5.7]

In [51]:
#now we we change a value from l2
l2[2]= 10

In [52]:
print(l2)
print(l11)

[3, 5, 10, 0, 38, 'sium', 5.7]
[3, 5, 10, 0, 38, 'sium', 5.7]

In [53]:
l11[2] = 15

In [54]:
print(l2)
print(l11)

[3, 5, 15, 0, 38, 'sium', 5.7]
[3, 5, 15, 0, 38, 'sium', 5.7]

In [55]:
l11

[3, 5, 15, 0, 38, 'sium', 5.7]

In [56]:
l11[0] = 11 #in here as you see if we change one value from any list both l2 and l11 will be changed

In [57]:
l11

[11, 5, 15, 0, 38, 'sium', 5.7]

In [58]:
l2

[11, 5, 15, 0, 38, 'sium', 5.7]

In [59]:
#with the list constructor we can copy a list too 
#this is the best way to copying a list to work with
l12 = list(l11)

In [60]:
print(l12)

[11, 5, 15, 0, 38, 'sium', 5.7]

In [61]:
l11[0]=100

In [62]:
l11

[100, 5, 15, 0, 38, 'sium', 5.7]

In [63]:
print(l12) #see even we change a value in l11 it does not change anything in l12

[11, 5, 15, 0, 38, 'sium', 5.7]

In [64]:
#instead of value we can also assign a list by using statement for loop
#we can use range() function to declare the value range from what to what
l14 = [x**2 for x in range(1,6)]

In [65]:
l14

[1, 4, 9, 16, 25]

In [67]:
l15 = [x**3 for x in [1,4,6,7,8]]

In [68]:
l15

[1, 64, 216, 343, 512]

## SORTING METHOD
-here in the python there are 2 sorting method which we use
1. sort() method- used for list-it only works for list
2. sorted()

In [70]:
#1. sort()
l15
l15.sort(reverse=True)

In [71]:
l15

[512, 343, 216, 64, 1]

In [82]:
l6.sort()

[2, 4, 5, 7, 25, 32, 73, 89]

In [81]:
print(l6)

[2, 4, 5, 7, 25, 32, 73, 89]

In [85]:
t12 = (3,5,7,2,3,34,23,4,64,799,54,567,9)

In [87]:
help(list) #thats how we find out the list documentation

Help on class list in module builtins:

class list(object)
 |  list(iterable=(), /)
 |
 |  Built-in mutable sequence.
 |
 |  If no argument is given, the constructor creates a new empty list.
 |  The argument must be an iterable if specified.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(...)
 |      x.__getitem__(y) <==> x[y]
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iadd__(self, value, /)
 |      Implement self+=value.
 |
 |  __imul__(self, value, /)
 |      Implement self*=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(self, /)
 |      Return a reverse iterator over the list.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(self, /)
 |      Return the size of the list in memory, in bytes.
 |
 |  append(self, object, /)
 |      Append object to the end of the list.
 |
 |  clear(self, /)
 |      Remove all items from list.
 |
 |  copy(self, /)
 |      Return a shallow copy of the list.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  extend(self, iterable, /)
 |      Extend list by appending elements from the iterable.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  insert(self, index, object, /)
 |      Insert object before index.
 |
 |  pop(self, index=-1, /)
 |      Remove and return item at index (default last).
 |
 |      Raises IndexError if list is empty or index is out of range.
 |
 |  remove(self, value, /)
 |      Remove first occurrence of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  reverse(self, /)
 |      Reverse *IN PLACE*.
 |
 |  sort(self, /, *, key=None, reverse=False)
 |      Sort the list in ascending order and return None.
 |
 |      The sort is in-place (i.e. the list itself is modified) and stable (i.e. the
 |      order of two equal elements is maintained).
 |
 |      If a key function is given, apply it once to each list item and sort them,
 |      ascending or descending, according to their function values.
 |
 |      The reverse flag can be set to sort in descending order.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __class_getitem__(...) from builtins.type
 |      See PEP 585
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

In [89]:
list16 = ["aa", 'bbb', 'ddd', 'xxx', 'lll', 'ccc']
list16.sort() #sorted list

In [90]:
list16

['aa', 'bbb', 'ccc', 'ddd', 'lll', 'xxx']

In [95]:
list16.sort(reverse = True)
print(list16)

['xxx', 'lll', 'ddd', 'ccc', 'bbb', 'aa']

In [97]:
l16 = ['a', 'bde','dhdhd' ,'xhdgsts']
l16.sort(key =len) #using len in the key to sort the list with length
print(l16)

['a', 'bde', 'dhdhd', 'xhdgsts']

In [99]:
l17 =[[3,5,7], [2,4,9], [20,40,5]]
l17.sort() #sorted with smaller number
print(l17)

[[2, 4, 9], [3, 5, 7], [20, 40, 5]]

In [102]:
#now if we want to sort it with the second number
def sortbysec(value):
    return value[1]
l17.sort(key = sortbysec) #here you can see with the second element we sorted the list
print(l17)

[[2, 4, 9], [3, 5, 7], [20, 40, 5]]

## SORTED FUNCTION
- sort method only works for list because it is a method for list
- but with sorted() function we can sorted tuple and dictionaries and list too

In [103]:
help(sorted)

Help on built-in function sorted in module builtins:

sorted(iterable, /, *, key=None, reverse=False)
    Return a new list containing all items from the iterable in ascending order.

    A custom key function can be supplied to customize the sort order, and the
    reverse flag can be set to request the result in descending order.

In [115]:
l18= [3,23,5,7,83,566,34,6,784,35]
t14= (399,4,5,666,2,44,63,778)
d1= {34: "s", 46:"a", 3: "i", 56:'r'}

In [106]:
sorted(l18)

[3, 5, 6, 7, 23, 34, 35, 83, 566, 784]

In [107]:
sorted(t14)

[2, 4, 5, 44, 63, 399, 666, 778]

In [111]:
sorted(d1)

[3, 34, 46, 56]

In [112]:
sorted(t14, reverse = True)

[778, 666, 399, 63, 44, 5, 4, 2]

In [116]:
sorted(d1.values()) #thats how we get sorted values

['a', 'i', 'r', 's']

In [117]:
sorted(d1.items()) #to get keys and value in tuple form dictionaries

[(3, 'i'), (34, 's'), (46, 'a'), (56, 'r')]

In [119]:
sorted(d1.items(), key = lambda x:x[1]) #sorted by values and it will give list of tuples

[(46, 'a'), (3, 'i'), (56, 'r'), (34, 's')]

In [120]:
#use sorted function by sort by the second value
def sortbysec(value):
    return value[1]
tuple20=((10,4), (29,50), (28,49),(4,29))
sorted(tuple20, key = sortbysec)

[(10, 4), (4, 29), (28, 49), (29, 50)]

## SEQUENCES 
- the list, tuple, string are called as sequences
1. lenght - len()
2. select
3. slice
4. count
5. index
6. membership
7. concatenation
8. min value
9. max value
10. sum

In [48]:
#1. length- len() function, we can find out the lenght from the list, tuple or string

s1 = "siumrakibulhasan"
l10= [4,6,3,8,23,69,46,300,59]
t10=(2,4,6,8,39,50)
print(len(s1))
print(len(l10))
print(len(t10))

16
9
6

In [49]:
#2. SELECT SEQUENCE
#by indexing we can select any value from the list, tuple or string
#by indexing we can select an indivisual value from list, tuple or string

print(s1[0]) #here from the string we will get the first index value

print(t10[3]) #here we will get index 3 position value

print(l10[7]) #here we get index 7 position value

s
8
300

In [50]:
#3. SLICE 
#by slicing we can take a part of the list or part of the tuple 
print(t10)
t10[1:3] #including index 1 but excluding last index

(2, 4, 6, 8, 39, 50)

(4, 6)

In [51]:
#take the value from 3 to end
print(l10[2:]) #here if we want to take to the end then empty the second slicing index

[3, 8, 23, 69, 46, 300, 59]

In [52]:
l10[4:6]

[23, 69]

In [53]:
l10

[4, 6, 3, 8, 23, 69, 46, 300, 59]

In [54]:
print(s1[0:4]) #from the string i slice my nick name

sium

In [55]:
#if we want to start from the begin and end it at index 5 then either we take 0 in the index or empty index 
print(s1[:6]) #[0:6] means including 0 and exclusing 6

siumra

In [56]:
#4. COUNT OPERATION
#with count we can check how many same value stored in there 
t10

(2, 4, 6, 8, 39, 50)

In [61]:
print(s1.count('s'))
print(t10.count(6))

2
1

In [62]:
#5. INDEX
#with index() method we can find out the index of a value in the list, tuple or string
t10.index(50) #index of 50

5

In [64]:
s1.index("s") #index of s

0

In [65]:
t10.index(39)

4

In [66]:
#6. MEMBERSHIP 
#to check if any value has available in the list or tuple or string, it will give true or false result
"s" not in s1

False

In [67]:
"s" in s1 #because "s" is present

True

In [68]:
50 in l10

False

In [69]:
400 in t10

False

In [70]:
400 not in t10

True

In [71]:
#7. CONCATENATION
#we can concat the same types of data together 
s2= "sium"
s3= " rakibul hasan"
print(s2+s3)

sium rakibul hasan

In [75]:
#we can not join two different data types unless we mention it like a str or integer but it has to be tuple to tuple, list to list, or string to string
s4= 4
print(s2+ str(s4)) #here we can join two different data types if we mention it in same data types. here s4 works like a str value because i mentioned it.

sium4

In [76]:
#we can join 2 different list or tuple also
print(l1+l2)

[3, 5, 62, 0, 38, 'sium', 5.7]

In [78]:
t9 =(49,6,2,"sium")
print(t9+t10)

(49, 6, 2, 'sium', 2, 4, 6, 8, 39, 50)

In [81]:
#8. MIN VALUE
min(s1) #thats how we check the min value from a string-it is alphabetical order

'a'

In [80]:
s1

'siumrakibulhasan'

In [84]:
print(l10)
print(min(l10)) #here you see the minimum value in the list

[4, 6, 3, 8, 23, 69, 46, 300, 59]
3

In [85]:
#MAX VALUE
#it will return the max value alphabetical order in the string
max(s1)

'u'

In [86]:
max(t10) #from the tuple max value

50

In [87]:
t10 #here is the tuple

(2, 4, 6, 8, 39, 50)

In [89]:
max(l10) #max value in the list

300

In [90]:
l10

[4, 6, 3, 8, 23, 69, 46, 300, 59]

In [91]:
#10. SUM
# with the sum what we can do is sum up all the integer value of a list or a tuple
#we can not use sum for the string
l10

[4, 6, 3, 8, 23, 69, 46, 300, 59]

In [93]:
sum(l10) #with sum(constructor we can sum them up)

518

## TUPLE
- tuples are similar to the list, it contains different data types like list
- tuples are immutable, once you created a tuple, you cannot change it, remove anything from it, or add anything new
- we can access tuple by indexing

In [121]:
#to create a tuple we can take a variable and assign value within a parenthesis and each value seperated by comma
t15 = (30,4,6,73,68,35,100)
print(t15)

(30, 4, 6, 73, 68, 35, 100)

In [122]:
#to create a empty tuple 
t16 =()
print(type(t16))

<class 'tuple'>

In [123]:
# if we take 1 value inside a tuple then it is not a tuple it is a integer
t17 =(19)
print(type(t17))

<class 'int'>

In [124]:
#so for creating a tuple with a 1 value we need to use a comma after the value
t18 = (10,)
print(type(t18))

<class 'tuple'>

In [125]:
# we also can create a tuple by using tuple() constructor
t19 = tuple()

In [126]:
t19

()

In [127]:
type(t19) #here the type

tuple

In [128]:
#accessing tuple by indexing
t15

(30, 4, 6, 73, 68, 35, 100)

In [129]:
t15[3]

73

In [130]:
t15[-1] #accessing the last element

100

In [131]:
t15[0] #accessing the first element

30

In [132]:
#we can make tuple inside a tuple i mean nested tuple
t20 = ((20,30,300,47,59), 29,375, 832)
print(t20)

((20, 30, 300, 47, 59), 29, 375, 832)

In [133]:
t20[0] #accessing the nested tuple

(20, 30, 300, 47, 59)

In [134]:
t20[0][1] #accessing the value from nested tuple

30

In [135]:
#we cannot use sort() method with tuple 
#but we can use sorted function with the tuple
sorted(t15) #using sorted function

[4, 6, 30, 35, 68, 73, 100]

In [138]:
sorted(t15, reverse= True) #reverse the tuple and sorted method

[100, 73, 68, 35, 30, 6, 4]

In [ ]:
#also we can use all the sequences with the tuple
# 1. length- len()
# 2. select - by indexing
# 3. count - to check how many times a value appeared
# 4. index - to find the index position
# 5. membership- if the value is in tuple or not
# 6. slice- we can slice tuple by indexing
# 7. concat
# 8. min value
# 9. max value
# 10. sum